html {
    background-color: #E9E7DA;
}
.top-nav {
    background-color: #373F27;
    overflow: hidden;
    width: 100%;
}

.top-nav a {
    float: left;
    display: block;
    color: ghostwhite;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.menu {
    float: left;
    overflow: hidden;
}

.button {
    font-size: 18px; 
    border: none;
    color: white;
    background-color: inherit;
    font-family: 'Abril Fatface', serif;

}

.top-nav a:hover {
    background-color: #CDA34F;
    color: black;
}

.container h1{
    color: #373F27;
    padding: 10px;
    font-family: cursive;
}


.navigation {
    margin-top: 100px;
    background-color: #636B46;
    width: 100%;
    margin-bottom: 50px;
    

}

.homeimg {
    padding: 30px 0px 30px 80px;
    
}


.navigation a {
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 25px;
    font-weight: 700;
    font-family:serif;
    color: white;
    padding: 30px 120px 30px 150px;
}

.footer {
    padding-left: 30px;
    font-size: 20px;
    font-family: serif;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 90px;
    background-color: #373F27;
    color: white;
    
 }
 .footer2 a{
     font-size: 30px;
     margin-left: 200px;
     color: white;
     width: 20px;
     
 }
 .copyright{
     padding-left: 900px;
 }
 .welcome-text{
    text-align: center;
    font-family: serif;
    padding: 20px;
    font-size: 20px;
}

.welcome-text h2{
    color: #373F27;
}

.welcome-text a{
    color: #CDA34F;
}

.navigation a {
    color:white;
}


#animal_aves {
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 450px);
}

.grid_cell {
    align-self: baseline;
}

.grid_cell a{
    color: #CDA34F;
}
.grid_cell p{
    color:#373F27;
}

#animal_reptilia p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#animal_reptilia {
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 440px);
}

#animal_mammalia {
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 435px);
}

#animal_mammalia p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#animal_aves p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#animal_amphibia {
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 430px);
}

#animal_amphibia p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#animal_os {
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 435px);
}

#animal_os p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#animal_insecta {
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 435px);
}

#animal_insecta p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about_text {
    color:#373F27;
    font-size: 20px;
    padding: 30px 80px 30px 80px;
}
.about_text h1 {
    text-align: center;
}
.about_text a{
    color:#CDA34F;
}

.description {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}

.video {
    padding-left: 350px;
}


@media (max-width: 800px) {
    .gallery {
        width: 350px;
    }
    #animal_reptilia {
        margin: 0 auto;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 350px);
    }
    
    #animal_mammalia {
        margin: 0 auto;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 350px);
    }

    
    #animal_amphibia {
        margin: 0 auto;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 350px);
    }
    
    #animal_amphibia p{
        text-align: center;
    }
    
    #animal_os {
        margin: 0 auto;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 350px);
    }
    
    #animal_os p{
        text-align: center;
    }
    
    #animal_insecta {
        margin: 0 auto;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 350px);
    }
    #animal_aves {
        margin: 0 auto;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 350px);
    }
     .img1 .img2 .img3 {
        width: 100px;
 }
  }


 
