html {
    background-color: #E9E7DA;
}
.top-nav {
    background-color: #373F27;
    overflow: hidden;
}
.top-nav a {
    float: left;
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 17px 23px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Abril Fatface', serif;
    letter-spacing: 1px;
}


.top-nav-float {
    float: right;
}
.top-nav .icon {
    display: none;
}
.cus-dropdown-menu {
    float: left;
    overflow: hidden;
}
.cus-dropdown-menu .drop-button {
    font-size: 18px; 
    border: none;
    outline: none;
    color: white;
    padding: 17px 22px;
    background-color: inherit;
    font-family: 'Abril Fatface', serif;
    letter-spacing: 1px;
}

.top-nav a:hover, .cus-dropdown-menu:hover .drop-button {
    background-color: slategrey;
    color: white;
}

.cus-dropdown-menu:hover {
    display: block;
}

.container h1{
    color: #373F27;
    padding: 10px;
}


.navigation {
    margin-top: 100px;
    background-color: #636B46;
    width: 100%;
    margin-bottom: 100px;
    

}

.homeimg {
    padding: 30px 0px 30px 80px;
    
}


.navigation a {
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 25px;
    font-weight: 700;
    font-family:serif;
    color: white;
    padding: 30px 100px 30px 180px;
}


.aves{
    align-self: baseline;
}

#animal_collection {
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4, 300px);
}
.grid-cell {
    align-self: baseline;
}




 