<head>
    <meta charset="utf-8">
    <title>Disappearing Animals</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
        <h1>Disappearing Wild Animals</h1>
        </header>
    
              
          <div class="navbar">             
            <nav class="top-nav" id="topnav">
                <div class="top-nav-float">
                    <a href="{{ site.baseurl }}/">HOME</a >
                    
               <div class="cus-dropdown-menu">
                        <button class="drop-button">MAMMALIA&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ site.baseurl }}/primates">PRIMATES</a >
                            <a href="#">CARNIVORA</a >
                            <a href="#">ARTIODACTYLA</a >
                            <a href="#">CETACEA</a >
                        </div>
                    </div>
                    
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button"><a href="{{ site.baseurl }}/aves">AVES&nbsp; 
                            <i class="fa fa-caret-down"></i></a>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">GALLIFORMES</a >
                            <a href="#">ANSERIFORME</a >
                            <a href="#">CHARADRIIFORMES</a >
                            <a href="#">PROCELLARIIFORMES</a >
                            <a href="#">CICONIIFORMES</a >
                            <a href="#">SULIFORMES</a >
                            <a href="#">PASSERIFORMES</a >
                            
                        </div>
                    </div>
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">REPTILIA&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">TESTUDINES </a >
                            <a href="#">SQUAMATA</a >
                            
                            
                        </div>
                    </div>
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">AMPHIBIA&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">CAUDATA</a >                            
                        </div>
                    </div>
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">OSTEICHYES&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">ACIPENSERIFORMES</a > 
                            <a href="#">CLUPEIFORMES</a >
                            <a href="#">CYPRINIFORMES</a >
                            <a href="#">SILURIFORMES</a >
                        </div>
                    </div>
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">INSECTA&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">GRYLLOBLATTODAE</a >                            
                        </div>
                    </div>
                    
                    <a href=" ">SEARCH</a>
                    
                </div>
          
            </nav>
            </div>

    </div>  
    
    <div id = "content">
    {% assign licence = site.data.licences | find: "licence", page.licence %}
        <img src = "{{ page.image-url }}" id = "exhibitave">
        <p>{{ page.title }} by {{ page.creator }}</p >
        <p>{{ page.date | date: "%d %B %Y"}}</p >
        <p><a href="{{ licence.url }}">{{ page.licence }}</a ></p >
        <p>Tags: {{ page.tags }}</p >
    </div>


    
        <footer class="footer">
            <div class="footer-frid">
                <p>CONTACT US</p >
            <table>
                <tr>
                    <td>
                    
                        <ul>
                        <li>Tel: +(44)1234 5678 </li>
                        <li>E-mail: DisappearingWildAnimals@.com</li>
                            <li>Address: No.A Street, London, United Kingdom </li></ul>
                    </td>
                    
                    <td>
                    <div>
                      <table class="footer2">
                          <tr>
                    
                        <td><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></td>      
                        <td><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></td>
                        <td><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></td></tr>
                          
                     </table>
                </div>
                    </td>
                </tr>        
                </table>
            
            <div class="copyright">
            <p>&copy; Disappearing Wild Animals</p >
            </div>
                
            </div>
            
        </footer>


    </body>