<head>
    <meta charset="utf-8">
    <title>Disappearing Animals</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
        <h1>Disappearing Wild Animals</h1>
        </header>
    
              
          <div class="navbar">             
            <nav class="top-nav" id="topnav">
                <div class="top-nav-float">
                    <a href=" " id="active">HOME</a >
                    
               <div class="cus-dropdown-menu">
                        <button class="drop-button">MAMMALIA&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">PRIMATES</a >
                            <a href="#">CARNIVORA</a >
                            <a href="#">ARTIODACTYLA</a >
                            <a href="#">CETACEA</a >
                        </div>
                    </div>
                    
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">AVES&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">GALLIFORMES</a >
                            <a href="#">ANSERIFORME</a >
                            <a href="#">CHARADRIIFORMES</a >
                            <a href="#">PROCELLARIIFORMES</a >
                            <a href="#">CICONIIFORMES</a >
                            <a href="#">SULIFORMES</a >
                            <a href="#">PASSERIFORMES</a >
                            
                        </div>
                    </div>
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">REPTILIA&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">TESTUDINES </a >
                            <a href="#">SQUAMATA</a >
                            
                            
                        </div>
                    </div>
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">AMPHIBIA&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">CAUDATA</a >                            
                        </div>
                    </div>
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">OSTEICHYES&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">ACIPENSERIFORMES</a > 
                            <a href="#">CLUPEIFORMES</a >
                            <a href="#">CYPRINIFORMES</a >
                            <a href="#">SILURIFORMES</a >
                        </div>
                    </div>
                    
                    <div class="cus-dropdown-menu">
                        <button class="drop-button">INSECTA&nbsp; 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">GRYLLOBLATTODAE</a >                            
                        </div>
                    </div>
                    
                    <a href=" ">SEARCH</a>
                    
                </div>
          
            </nav>
            </div>

    </div>  
    </body>