---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
        <h1>Threatened Wild Animals in China</h1>
        </header>
    
              
          <div class="navbar">             
            <nav class="top-nav">

                <div class="menu">
                    <button class="button"><a href="{{ site.baseurl }}/index">HOME</a ></button></div>


               <div class="menu">
                     <button class="button"><a href="{{ site.baseurl }}/about">ABOUT&nbsp;</a >
                     </button>
                    </div>
                    
               <div class="menu">
                        <button class="button"><a href="{{ site.baseurl }}/mammalia">MAMMALIA&nbsp;</a >
                        </button>
                    </div>
                    
                    
               <div class="menu">
                        <button class="button"><a href="{{ site.baseurl }}/aves">AVES&nbsp;</a >
                        </button>
                    </div>
                    
               <div class="menu">
                        <button class="button"><a href="{{ site.baseurl }}/reptilia">REPTILIA&nbsp;</a > 
                        </button>
                    </div>
                    
                <div class="menu">
                        <button class="button"><a href="{{ site.baseurl }}/amphibia">AMPHIBIA&nbsp;</a >
                        </button>
                    </div>
                    
                <div class="menu">
                        <button class="button"><a href="{{ site.baseurl }}/osteichthyes">OSTEICHYES&nbsp;</a >
                        </button>
                    </div>
                    
                <div class="menu">
                        <button class="button"><a href="{{ site.baseurl }}/insecta">INSECTA&nbsp;</a >
                        </button>
                    </div>
                    
                <div class="menu">
                   <button class="button"> <a href="{{ site.baseurl }}/search">SEARCH</a ></button></div>
                    
        
          
            </nav>
            </div>

    </div>  
    
    <div id = "content">
    {% assign licence = site.data.licences | find: "licence", page.licence %}
        <img src = "{{ page.image-url }}" id = "exhibit_reptilia" width="100%">
        <p>{{ page.title }} by {{ page.creator }}</p >
        <p>{{ page.date | date: "%d %B %Y"}}</p >
        <p><a href="{{ licence.url }}">{{ page.licence }}</a ></p >
        <p>Tags: {{ page.tags }}</p >
    </div>

    <div class="description">
        {{ content }}
    </div>


    
    <footer class="footer">
        <div class="footer-frid">
            <p>CONTACT US</p >
        <table>
        <table>
            <tr>
                <td>
                
                    <ul>
                    <li>Tel: +(44)1234 5678 </li>
                    <li>E-mail: DisappearingWildAnimals@.168.com</li>
                        <li>Address: No.A Street, London, United Kingdom </li></ul>
                </td></table>
                
                <td>

                <div>
                  <table class="footer2">
                      <tr>
                
                    <td><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a ></td>      
                    <td><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a ></td>
                    <td><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a ></td></tr>
                      
                 </table>
            </div>
                </td>
            </tr>        
            </table>
        
        <div class="copyright">
        <p>&copy; 2022 Disappearing Wild Animals</p >
        </div>
            
        </div>
        
    </footer>


</body>
